body, h1, h2, h3, p, ul, li {
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: #373737;
  margin: 0;
  overflow-x: hidden;
}

/* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR */
.sidebar {
  height: 100%;
  width: 30%;
  position: fixed;
  background-color: #111;
  overflow-x: hidden;
  z-index: 99;
}

.sidebarinsides {
  padding: 15%;
}

.myname a {
  font-size: 3.7rem;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.sidebarinsides ul {
  list-style: none;
  padding: 2%;
  padding-top: 5%;
}

.sidebar ul li {
  padding-top: 9%;
}

.sidebar ul li a {
  color: #5c5c5c;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: #fff;
}

.sidebar .sidebarinsides ul li a.active {
  color: white;
}

.batman {
  color: #2b2b2b;
  padding: 15%;
}
/* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR */

/* TOPBAR *//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*/
.topbar {
  display: none; 
}
.mediasidebar {
  display: none;
}
/*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*/

/* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN */
.main {
  width: 70%;
  margin-left: 30%;
  z-index: 0;
}

.banner {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative; 
}

.bannerimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.content {
  background: linear-gradient(transparent, rgba(2, 2, 5, 1));
  color: #fff;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%; 
  padding: 5%;
}

.contentinside {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
}

.quote {
  font-size: 2rem;
  text-align: left; 
}

.signature {
  width: 50%;
  height: auto;
  object-fit: contain;
}

.stage {
  background-color: #00000000;
  color: #fff;
  height: 70%;
  justify-content: center;
  align-items: center;
  padding: 5% 0%;
}

.stagecontent1 {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0% 0%;
}

.stagecontent2 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 0% 0%;
}

.stagewords1 {
  width: 45%;
  height: 40%;
  text-align: left;
  padding: 0% 5%;
}

.stagewords1b {
  width: 35%;
  height: 40%;
  text-align: left;
  padding: 0% 5%;
  display: none;
}

.stagewords2 {
  width: 40%;
  height: 40%;
  text-align: right;
  padding: 0% 5%;
}

.stagewords2b {
  width: 60%;
  height: 30vh;
  display: none;
  padding: 5% 5%;
}

.stagewords2b h1,
.stagewords2 h1, 
.stagewords1b h1,
.stagewords1 h1{
  padding-bottom: 5%;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}

  .stagewords2b h1,
  .stagewords2 h1, 
  .stagewords1b h1,
  .stagewords1 h1,
  .stagewords2b p,
  .stagewords2 p, 
  .stagewords1b p,
  .stagewords1 p {
    margin: 0;
    line-height: 2;
  }

  .stageimg {
    width: 45%;
    height: 80vh;
    padding: 0%;
    object-fit: cover;
  }


/* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN */

/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */
footer {
  text-align: center;
  padding: 10%;
  justify-content: center;
}

.footermedia a {
  color: #ea1212;
  font-size: 2rem;
  padding: 2%;
}

.copyright {
  color: #ea1212;
  font-size: 1rem;
  padding-top: 5%;
}
/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */

/* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA */
@media screen and (min-width: 1024px) and (max-width: 1250px) {
  .sidebarinsides {
    padding: 15%;
  }

  .batman {
    padding: 15%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    width: 40%;
  }

  .sidebarinsides {
    padding: 17%;
    padding-bottom: 0;
  }

  .batman {
    padding: 15%;
  }

  .main {
    width: 60%;
    margin-left: 40%;
  }

  .banner {
    height: 90vh; 
  }

  .content {
    height: 40%;
  }

  .contentinside {
    height: 100%;
  }

  .quote {
    font-size: 2rem;
    text-align: left; 
  }
  
  .signature {
    width: 60%;
    height: auto;
    object-fit: contain;
  }

  .logo {
    font-size: 15vh;
    padding: 4%;
  }
  
  .logoname {
    padding-top: 6%;
    font-size: 4vh;
  }
  
  .desc {
    padding: 5%;
    font-size: 3vh;
  }

  .stage {
    padding: 5%;
  }

  .stageimg {
    width: 100%;
    height: 60vh;
  }

  .stage h1 {
    font-weight: normal;
  }

  .stagecontent1,
  .stagecontent2 {
    flex-direction: column;
    align-items: center;
  }

  .stagewords1,
  .stagewords1b,
  .stagewords2,
  .stagewords2b {
    width: 100%;
    padding: 5% 0%;
  }

  .stagewords2 {
    display: block;
  }

  .stagewords2b {
    display: none;
  }

  .stagewords1 {
    display: none;
  }

  .stagewords1b {
    display: block;
  }
}

@media screen and (max-width: 769px) {
  .sidebar {
    display: none;
  }

  .sidebarinsides {
    padding: 15%;
  }

  .batman2 {
    color: #363636;
    padding: 5%;
    font-size: 1rem;
  }

  .main {
    width: 100%;
    margin-left: 0;
  }

  .banner {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative; 
  }
  
  .bannerimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .content {
    background: linear-gradient(transparent, rgba(2, 2, 5, 1));
    color: #fff;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%; 
    padding: 5%;
  }
  
  .contentinside {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
  }
  
  .quote {
    font-size: 2rem;
    text-align: left; 
  }
  
  .signature {
    width: 60%;
    height: auto;
    object-fit: contain;
  }
  
  .logo {
    font-size: 15vh;
    padding: 4%;
  }
  
  .logoname {
    padding-top: 6%;
    font-size: 4vh;
  }
  
  .desc {
    padding: 5%;
    font-size: 3vh;
  }

  .topbar {
    display: flex;
    background-color: #111;
    color: #ffff;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5% 3% 7%;
  }

  .topbar2 {
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }

  .brand {
    font-size: 1.6rem;
    text-align: left;
    text-decoration: none;
    color: #fff;
  }

  .open {
    font-size: 1.5rem;
    color: #ea1212;
  }

  .sidebar2 {
    padding: 5%;
    padding-left: 10%;
    padding-top: 3;
  }

  .mediasidebar {
    display: block;
    position: fixed;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100vh; 
    background-color: #111;
    color: #fff;
    transition: left 0.3s ease; 
    z-index: 99;
  }

  .myname2 {
    text-align: left;
  }

  .myname2 a {
    text-decoration: none;
    color: #ffff;
    font-size: 3.2rem;
  }

  .sidebarinsides2 {
    padding: 5%;
    color: #fff;
    list-style: none;
    text-align: left;
  }
  
  .sidebarinsides2 ul {
    list-style: none;
    padding: 0%;
  }

  .sidebarinsides2 ul li {
    padding-top: 9%;
    font-size: 1.3rem;
  }

  .sidebarinsides2 ul li a{
    list-style: none;
    text-decoration: none;
    color: #b4b4b4 ;
  }

  .sidebarinsides2 ul li a.active{
    color: #ffff ;
  }

  .close {
    padding: 7%;
    padding-bottom: 0;
    font-size: 1.3rem;
    color: #ea1212;
  }

  .stage h1 {
    font-weight: normal;
  }

  .stagecontent1,
  .stagecontent2 {
    flex-direction: column;
    align-items: center;
  }

  .stage {
    padding: 5%;
  }

  .stageimg {
    width: 100%;
    height: 60vh;
  }

  .stage h1 {
    font-weight: normal;
  }

  .stagecontent1,
  .stagecontent2 {
    flex-direction: column;
    align-items: center;
  }

  .stagewords1,
  .stagewords1b,
  .stagewords2,
  .stagewords2b {
    width: 100%;
    padding: 5% 0%;
  }

  .stagewords2 {
    display: block;
  }

  .stagewords2b {
    display: none;
  }

  .stagewords1 {
    display: none;
  }

  .stagewords1b {
    display: block;
  }

  .footermedia {
    padding-top: 30%;
  }

  .footermedia a {
    padding: 4%;
    font-size: 1.4rem;
  }
  
}

@media screen and (max-width: 499px) {
  .banner {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative; 
  }
  
  .bannerimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .content {
    background: linear-gradient(transparent, rgba(2, 2, 5, 1));
    color: #fff;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    width: 90%;
    padding: 5%;
  }
  
  .contentinside {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 1%; 
  }
  
  .quote {
    font-size: 2rem;
  }
  
  .signature {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

@media screen and (max-width: 250px) {
  .main {
    display: none;
  }

  .batman {
    padding-top: 10%;
  }

  .topbar {
    display: none;
  }

  .sidebar {
    display: block;
    width: 100%;
  }

  .sidebarinsides {
    padding: 15%;
  }

  .myname a {
    font-size: 2.5rem;
  }

  .sidebarinsides ul {
    padding: 4%;
    padding-top: 5%;
  }

  .sidebar2 {
    display: none;
  }

  .stage h1 {
    font-weight: normal;
  }

  .stagecontent1,
  .stagecontent2 {
    flex-direction: column;
  }

  .stageimg {
    width: 90%;
  }

  .stagewords2 {
    display: none;
  }

  .stagewords2b {
    display: block;
  }
}
/* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA */

