body, h1, h2, h3, p, ul, li {
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: #373737;
  margin: 0;
  overflow-x: hidden;
}

/* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR */
.sidebar {
  height: 100%;
  width: 25%;
  position: fixed;
  background-color: #111;
  overflow-x: hidden;
}

.sidebarinsides {
  padding: 20%;
}

.myname a {
  font-size: 3.6rem;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.sidebarinsides ul {
  list-style: none;
  padding: 2%;
}

.sidebar ul li {
  padding-top: 7%;
}

.sidebar ul li a {
  color: rgb(184, 184, 184);
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: #fff;
}

.sidebar .sidebarinsides ul li a.active {
  color: white;
}

.batman {
  color: #393939;
  padding: 20%;
}
/* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR */

/* TOPBAR *//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*/
.topbar {
  display: none; 
}
.mediasidebar {
  display: none;
}

/* Rest of your styles */

/*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*/

/* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN */
.main {
  width: 75%;
  margin-left: 25%;
}
/* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN */

/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */
footer {
  text-align: center;
  padding: 5%;
  padding-bottom: 7%;
  justify-content: center;
}

.footerjunsa {
  color: #fff;
  padding-bottom: 4%;
  font-size: 1.5rem;
}

.footermedia a {
  color: #fff;
  font-size: 1.5rem;
  padding: 2%;
}

.copyright {
  color: #7f7f7f;
  font-size: 1rem;
  padding-top: 4%;
}
/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */

/* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA */
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main {
    width: 100%;
    margin-left: 0;
  }

  .topbar {
    display: flex;
    background-color: #111;
    color: #ffff;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
  }

  .topbar2 {
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }

  .brand {
    font-size: 1.5rem;
    text-align: left;
  }

  .open {
    font-size: 1.3rem;
  }

  .sidebar2 {
    padding: 5%;
    padding-left: 10%;
  }

  .mediasidebar {
    display: block;
    position: fixed;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100vh; 
    background-color: #111;
    color: #fff;
    transition: left 0.3s ease; 
  }

  .myname2 {
    text-align: left;
  }

  .myname2 a {
    text-decoration: none;
    color: #ffff;
    font-size: 3.2rem;
  }

  .sidebarinsides2 {
    padding: 5%;
    color: #fff;
    list-style: none;
    text-align: left;
  }
  
  .sidebarinsides2 ul {
    list-style: none;
    padding: 0%;
    padding-top: 20%;
  }

  .sidebarinsides2 ul li {
    padding-top: 10%;
    font-size: 1.2rem;
  }

  .sidebarinsides2 ul li a{
    list-style: none;
    text-decoration: none;
    color: #b4b4b4 ;
  }

  .sidebarinsides2 ul li a.active{
    color: #ffff ;
  }

  .close {
    padding: 7%;
    font-size: 1.3rem;
  }

  .batman2 {
    color: #393939;
    padding: 10%;
    padding-top: 20%;
    font-size: 1rem;
  }

  .footerjunsa {
    font-size: 1.25rem;
  }
  
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    width: 40%;
  }

  .main {
    width: 60%;
    margin-left: 40%;
  }
}
/* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA */

