body, h1, h2, h3, p, ul, li {
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: #373737;
  margin: 0;
  overflow-x: hidden;
}

hr {
  border-color: #ccc; opacity: 0.2;
}

/* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR */
.sidebar {
  height: 100%;
  width: 30%;
  position: fixed;
  background-color: #111;
  overflow-x: hidden;
}

.sidebarinsides {
  padding: 22%;
}

.myname a {
  font-size: 3.7rem;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.sidebarinsides ul {
  list-style: none;
  padding: 2%;
  padding-top: 5%;
}

.sidebar ul li {
  padding-top: 7%;
}

.sidebar ul li a {
  color: #5c5c5c;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: #fff;
}

.sidebar .sidebarinsides ul li a.active {
  color:#fff;
}

.batman {
  color: #363636;
  padding: 22%;
  padding-top: 10%;
}
/* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR */

/* TOPBAR *//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*/
.topbar {
  display: none; 
}
.mediasidebar {
  display: none;
}
/*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*/

/* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN */
.main {
  width: 70%;
  margin-left: 30%;
}

.coolgrid {
  display: grid;
  grid-template-columns: auto auto; 
  grid-gap: 3vh;
  padding: 5vh;
  position: relative; 
}

.coolgrid > div {
  height: 50vh;
  text-align: center;
  background-color: #7f7f7f;
  position: relative;
  transition: transform 0.3s ease;
  background-size: cover;
  cursor: pointer;
}

.box {
  background-color: #121212bb;
  height: 100%;
}

.coolgrid > div:hover {
  transform: scale(1.01); 
}

.cars {
  grid-column: span 2;
}

.title {
  font-weight: bold;
  font-size: 1.5rem; 
  bottom: 0vh; 
  left: 5vh; 
  position: absolute;
  color: #fff;
}
/* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  transform: translate(-0%, -50%);
  background: #373737;
  color: #ffffff;
  z-index: 1;
  height: 100%;
  width: 70%;
  overflow-y: auto;
}

.popupinsides {
  padding: 5%;
}

.close-btn {
  font-size: 1.5rem;
  cursor: pointer;
}

.gallery {
  width: 100%;
}

.item {
  width: 100%;
  display: flex;
  padding: 10vh 0vh;
  justify-content: space-between;
}

.item img {
  object-fit: contain;
  width: 70%;
}

.descr {
  width: 100%;
  padding-left: 5vh;
  text-align: left;
}

.descl {
  width: 100%;
  padding-right: 5vh;
  text-align: right;
}

.clmndescl {
  display: none;
}

.item .descr h1,
.item .descl h1  {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
/* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP *//* POPUP */
/* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN */

/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */
footer {
  text-align: center;
  padding: 10%;
  justify-content: center;
}

.footermedia a {
  color: #fff;
  font-size: 2rem;
  padding: 2%;
}

.copyright {
  color: #7f7f7f;
  font-size: 1rem;
  padding-top: 5%;
}
/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */

/* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA */
@media screen and (min-width: 1024px) and (max-width: 1400px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    width: 40%;
  }

  .batman {
    padding-top: 10%;
  }

  .main {
    width: 60%;
    margin-left: 40%;
  }

  .coolgrid > div {
    height: 75vh;
  }

  .coolgrid {
    grid-template-columns: 1fr;
    grid-gap: 2vh;
    padding: 2vh;
  }
  
  .coolgrid > div {
    height: 50vh;
  }
  
  .coolgrid > div:hover {
    transform: scale(1); 
  }
  
  .cars {
    grid-column: auto;
  }

  .coolgrid > div:hover {
    transform: scale(1.0); 
  }
  
  .title {
    font-size: 1.5rem; 
    bottom: 1vh; 
    left: 3vh; 
  }

  .popup {
    width: 60%;
  }

  .item {
    flex-direction: column;
    padding: 3vh 0vh;
  }

  .item img {
    padding-top: 5vh;
    width: 100%;
  }

  .descr {
    padding: 3vh 0vh;
    text-align: left;
  }
  
  .descl {
    display: none;
  }

  .clmndescl {
    display: block;
  }

}

@media screen and (max-width: 769px) {
  .sidebar {
    display: none;
  }

  .batman2 {
    padding: 5%;
    padding-top: 10%;
    font-size: 1rem;
  }

  .main {
    width: 100%;
    margin-left: 0;
  }
  
  .logo {
    font-size: 15vh;
    padding: 4%;
  }
  
  .logoname {
    padding-top: 6%;
    font-size: 4vh;
  }

  .topbar {
    display: flex;
    background-color: #111;
    color: #ffff;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5% 3% 7%;
  }

  .topbar2 {
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }

  .brand {
    font-size: 1.6rem;
    text-align: left;
  }

  .open {
    font-size: 1.5rem;
  }

  .sidebar2 {
    padding: 5%;
    padding-left: 10%;
  }

  .mediasidebar {
    display: block;
    position: fixed;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100vh; 
    background-color: #111;
    color: #fff;
    transition: left 0.3s ease; 
    z-index: 20;
  }

  .myname2 {
    text-align: left;
  }

  .myname2 a {
    text-decoration: none;
    color: #ffff;
    font-size: 3.2rem;
  }

  .sidebarinsides2 {
    padding: 5%;
    color: #fff;
    list-style: none;
    text-align: left;
  }
  
  .sidebarinsides2 ul {
    list-style: none;
    padding: 0%;
    padding-top: 10%;
  }

  .sidebarinsides2 ul li {
    padding-top: 10%;
    font-size: 1.2rem;
  }

  .sidebarinsides2 ul li a{
    list-style: none;
    text-decoration: none;
    color: #b4b4b4 ;
  }

  .sidebarinsides2 ul li a.active{
    color: #ffff ;
  }

  .coolgrid {
    grid-template-columns: 1fr;
    grid-gap: 2vh;
    padding: 2vh;
  }
  
  .coolgrid > div {
    height: 50vh;
  }
  
  .coolgrid > div:hover {
    transform: scale(1); 
  }
  
  .cars {
    grid-column: auto;
  }

  .coolgrid > div:hover {
    transform: scale(1.0); 
  }
  
  .title {
    font-size: 1.5rem; 
    bottom: 1vh; 
    left: 3vh; 
    font-weight: normal;
  }

  .close {
    padding: 7%;
    font-size: 1.3rem;
  }

  .container {
    padding: 3rem 0.1rem;
  }

  .popup {
    width: 100%;
  }

  .item {
    flex-direction: column;
    padding: 3vh 0vh;
  }

  .item img {
    width: 100%;
  }

  .descr {
    padding: 1vh 0vh;
    text-align: left;
  }
  
  .descl {
    display: none;
  }

  .clmndescl {
    display: block;
  }

  .footermedia a {
    padding: 4%;
  }
  
}

@media screen and (max-width: 320px) {
  .main {
    display: none;
  }

  .batman {
    padding-top: 10%;
  }

  .topbar {
    display: none;
  }

  .sidebar {
    display: block;
    width: 100%;
  }

  .sidebarinsides {
  padding: 20%;
  }

  .myname a {
    font-size: 2.5rem;
    font-weight: normal;
  }

  .sidebarinsides ul {
    padding: 4%;
    padding-top: 5%;
  }

  .sidebar2 {
    display: none;
  }
}
/* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA */

