body {
  font-family: 'Outfit', sans-serif;
  background-color: #373737;
  margin: 0; 
  overflow-x: hidden;
}
h1, h2, h3, p, ul, li {
  font-family: 'Outfit', sans-serif;
}
/*SIDEBAR*/
.sidebar {
  height: 100%;
  width: 25%;
  position: fixed;
  background-color: #111;
  overflow-x: hidden;
}
.sidebarinsides {
  padding: 70px;
}
.myname a {
  font-size: 60px; 
  color: #ffffff; 
  font-weight: bold;
  text-decoration: none;
}
.sidebarinsides ul {
  list-style: none;
  padding:10px;
}
.sidebar ul li {
  padding-top: 25px;
}
.sidebar ul li a {
  color: rgb(184, 184, 184);
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: color 0.3s ease;
}
.sidebar ul li a:hover {
  color: #ffffff; 
}
.sidebar .sidebarinsides ul li a.active {
  color: white; 
}
.batman-text {
  color: #393939;
  padding: 70px;
}

/* TOPBAR */
.topbar {
  display: none; 
  background-color: #111;
  color: #ffff;
}
/*TOPBAR*/

/*MAIN*/
.main {
  width: 75%;
  margin-left: 25%;
  display: grid;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-item {
  width: 100%;
  padding: 40px;
  text-align: center;
  border: 0.1px solid #4f4f4f;
  box-sizing: border-box; 
  overflow: hidden; 
}
/*MAIN*/

/* For screens smaller than 768px */
@media screen and (max-width: 768px) {
/* For screens smaller than 768px */
@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .main {
    width: 100%;
    margin-left: 0;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-item {
    padding: 20px;
  }
  .topbar {
    display: block; 
    width: 100%;
    text-align: center;
    top: 0;
  }
}
}

/* For screens between 768px and 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    width: 40%;
  }
  .main {
    width: 60%;
    margin-left: 40%;
  }
}
