body, h1, h2, h3, p, ul, li {
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: #373737;
  margin: 0;
  overflow-x: hidden;
}

/* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR */
.sidebar {
  height: 100%;
  width: 30%;
  position: fixed;
  background-color: #111;
  overflow-x: hidden;
}

.sidebarinsides {
  padding: 22%;
}

.myname a {
  font-size: 3.7rem;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.sidebarinsides ul {
  list-style: none;
  padding: 2%;
  padding-top: 5%;
}

.sidebar ul li {
  padding-top: 7%;
}

.sidebar ul li a {
  color: #5c5c5c;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  transition: color 0.3s ease;
}

.sidebar ul li a:hover {
  color: #fff;
}

.sidebar .sidebarinsides ul li a.active {
  color: white;
}

.batman {
  color: #232323;
  padding: 22%;
  padding-top: 10%;
}
/* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR *//* SIDEBAR */

/* TOPBAR *//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*/
.topbar {
  display: none; 
}
.mediasidebar {
  display: none;
}

/* Rest of your styles */

/*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*//*TOPBAR*/

/* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN */
.main {
  width: 70%;
  margin-left: 30%;
  display: grid;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  width: 100%;
  text-align: center;
  border: 0.1px solid #4f4f4f;
  box-sizing: border-box;
  overflow: hidden;
}

.gridinsides {
  padding: 20%;
}

.logo {
  font-size: 15vh;
  padding: 4%;
}

.logoname {
  color: #fff;
  padding-top: 4%;
}

.desc {
  color: #7f7f7f;
  padding: 3%;
}
/* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN *//* MAIN */

/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */
footer {
  text-align: center;
  padding: 10%;
  justify-content: center;
}

.footermedia a {
  color: #fff;
  font-size: 2rem;
  padding: 2%;
}

.copyright {
  color: #7f7f7f;
  font-size: 1rem;
  padding-top: 5%;
}
/* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER *//* FOOTER */

/* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA */
@media screen and (min-width: 1024px) and (max-width: 1264px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gridinsides {
    padding: 7vh;
  }
  
  .logo {
    font-size: 15vh;
    padding: 4%;
  }
  
  .logoname {
    padding-top: 6%;
    font-size: 2.5vh;
  }
  
  .desc {
    padding: 5%;
    font-size: 2.5vh;
  }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    width: 40%;
  }

  .batman {
    padding-top: 10%;
  }

  .main {
    width: 60%;
    margin-left: 40%;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .gridinsides {
    padding: 7vh;
  }
  
  .logo {
    font-size: 17vh;
    padding: 4%;
  }
  
  .logoname {
    padding-top: 6%;
    font-size: 4vh;
  }
  
  .desc {
    padding: 5%;
    font-size: 3vh;
  }
}

@media screen and (max-width: 769px) {
  .sidebar {
    display: none;
  }

  .batman2 {
    padding: 5%;
    padding-top: 10%;
    font-size: 1rem;
  }

  .main {
    width: 100%;
    margin-left: 0;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .gridinsides {
    padding: 10vh;
  }
  
  .logo {
    font-size: 17vh;
    padding: 4%;
  }
  
  .logoname {
    padding-top: 6%;
    font-size: 3.5vh;
  }
  
  .desc {
    padding: 5%;
    font-size: 2.5vh;
  }

  .topbar {
    display: flex;
    background-color: #111;
    color: #ffff;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5% 3% 7%;
  }

  .topbar2 {
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
  }

  .brand {
    font-size: 1.6rem;
    text-align: left;
  }

  .open {
    font-size: 1.5rem;
  }

  .sidebar2 {
    padding: 5%;
    padding-left: 10%;
  }

  .mediasidebar {
    display: block;
    position: fixed;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100vh; 
    background-color: #111;
    color: #fff;
    transition: left 0.3s ease; 
  }

  .myname2 {
    text-align: left;
  }

  .myname2 a {
    text-decoration: none;
    color: #ffff;
    font-size: 3.2rem;
  }

  .sidebarinsides2 {
    padding: 5%;
    color: #fff;
    list-style: none;
    text-align: left;
  }
  
  .sidebarinsides2 ul {
    list-style: none;
    padding: 0%;
    padding-top: 10%;
  }

  .sidebarinsides2 ul li {
    padding-top: 10%;
    font-size: 1.2rem;
  }

  .sidebarinsides2 ul li a{
    list-style: none;
    text-decoration: none;
    color: #b4b4b4 ;
  }

  .sidebarinsides2 ul li a.active{
    color: #ffff ;
  }

  .close {
    padding: 7%;
    font-size: 1.3rem;
  }

  .footermedia a {
    padding: 4%;
  }
  
}

@media screen and (max-width: 320px) {
  .main {
    display: none;
  }

  .batman {
    padding-top: 10%;
  }

  .topbar {
    display: none;
  }

  .sidebar {
    display: block;
    width: 100%;
  }

  .sidebarinsides {
  padding: 20%;
  }

  .myname a {
    font-size: 2.5rem;
  }

  .sidebarinsides ul {
    padding: 4%;
    padding-top: 5%;
  }

  .sidebar2 {
    display: none;
  }
}
/* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA *//* MEDIA */

